<!-- Team Section -->
<section id="team" class="team section">

  <!-- Section Title -->
  <div class="con1 container section-title" [@fadeUp]>
    <h2>{{ 'TEAM' | translate }}</h2>
    <p>{{ 'OUR_TEAM' | translate }}</p>
  </div><!-- End Section Title -->

  <div class="container con">

    <div class="row gy-5">

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="100">
        <div class="member-img">
          <img src="assets/img/team/joel.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>KEUMEZE Joel Jorkael</h4>
          <span>{{ 'FRONT_END_DEVELOPER' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="200">
        <div class="member-img">
          <img src="assets/img/team/sybelle.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>FOZING Lise Sybelle</h4>
          <span>{{ 'FRONT_END_DEVELOPER' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="300">
        <div class="member-img">
          <img src="assets/img/team/moi.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>FOKAM KAMGA Ange</h4>
          <span>{{ 'FULL_STACK' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="400">
        <div class="member-img">
          <img src="assets/img/team/syd.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>DJIMAFO Ulrich Syd</h4>
          <span>{{ 'FULL_STACK' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="500">
        <div class="member-img">
          <img src="assets/img/team/ameli.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>PELAP MEFO Amélie-Laure</h4>
          <span>{{ 'FRONT_END_DEVELOPER' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="600">
        <div class="member-img">
          <img src="assets/img/team/kamte.png" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>KAMTE MBA Urbain</h4>
          <span>{{ 'BACK_END_DEVELOPER' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="600">
        <div class="member-img">
          <img src="assets/img/team/ariel.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>{{ 'CHEMENI DOUBISSI Ariel' | translate }}</h4>
          <span>{{ 'FULL_STACK' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="600">
        <div class="member-img">
          <img src="assets/img/team/adrien.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>{{ 'SONFACK Adriene Bei' | translate }}</h4>
          <span>{{ 'FRONT_END_DEVELOPER' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="600">
        <div class="member-img">
          <img src="assets/img/team/christian.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>{{ 'NANA KEPBAWOU Christian' | translate }}</h4>
          <span>{{ 'FRONT_END_DEVELOPER' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="600">
        <div class="member-img">
          <img src="assets/img/team/mike.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>DIOGNI YOUDOM Mike </h4>
          <span>{{ 'FULL_STACK' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

    </div>
  </div>
</section><!-- End Team Section -->
