a{
  text-decoration: none;
  cursor: pointer;
}

.row{

  border-radius: 10px;
  box-shadow: -10px 20px 30px color-mix(in srgb, white, transparent 30%);
}
.con1{

  color: #06BBCC;
}
.section-title h2:before,
.section-title h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: #06BBCC;
  display: inline-block;
}
.section-title{
  color: #06BBCC;
}
.img-fluid{
  height:130px;
  width: 100%;
}


.moi_seul {
  border: none;
  padding: 20px;
  border-radius: 15px;
  display: flex;                  /* Pour aligner les éléments sur la même ligne */
  justify-content: center;
}
.moi_seul img {
  height: 24px;       /* Taille réduite */
  width: 24px;
  object-fit: contain;

}
.moi_seul:hover{
  background-color: #06BBCC;
}
.moi_seul:active{
  background-color: aqua;
  transform: scale(0.9);
}